body {
    background-color: #ADD8E6;
    font-family: Arial, sans-serif;
}

h1,h2 {
    color: black;
    margin: 0; 
    text-align: center;
	flex-grow: 1;
}



.grid-container {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding: 20px;
}

.left-buttons {
    display: flex;
    gap: 10px;
    justify-self: start;
}

.center-text {
    text-align: center;
}

.right-button {
    display: flex;
    justify-content: flex-end;
    justify-self: end;
}

.nav {
    display: flex;
    align-items: center; 
	justify-content: space-between;
    padding: 40px; 
	border: 10px solid powderblue;
}

form {
    background-color: #F0F0FF;
    padding: 30px;
    border-radius: 30px;
}

.head-c {    
	display: flex;
    align-items: center;
    justify-content: space-between; /* Align title and button inline */
    padding: 20px;
}



button.yeh {
    display: flex; 
	justify-content: right;
}
